body{
    background-image: url(sec-background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.About, .second-phase, .forth-phase, .sixth-phase{
    background-color: #d63384;
    border: 1px solid white;
    margin-top: 20%;
    border-radius: .7rem;
    border: 2px solid black;
}
.about-him{
    font-size: 16px;
}
.image{
    width: 50%;
    height: 50%;
    
}
.about-relationship, .third-phase, .fifth-phase, #end{
    background-color: #cc79a2;
    border: 1px solid white;
    margin-top: 20%;
    border-radius: .7rem;
    border: 2px solid black;
}
img{
    width: 80%;
    height: 50%;
    margin-left: 15%;
    clip-path: circle();
}
.first-pic, .second-pic, .third-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    
}